* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

#background {
    width: 90vw ;
    height: 90vh;
    background-image: url('../img/background-final-2.jpg');
    /* background-repeat:  no-repeat; */
    /* background-size: contain; */
    background-size: cover;
    position: relative;
    overflow: hidden;

}

.background {
    width: 100vw ;
    height: 100vh;
    position: absolute;
    background-size: cover;
    position: relative;
    overflow: hidden;
    
}

.box {
    position: absolute;
    width: 101px;
    height: 185px;
    /* background-color: blue; */
    /* background-image: url('../img/Idle\ \(1\).png'); */
    /* background-image: url('../img/Idle__000.png'); */
    /* background-size: contain; */
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 70px;
    z-index: 999;
    /* bottom: 70px; */
}

.object{
    position: absolute;
    /* background-color: blue; */
    width: 108px;
    height: 130px;
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 70px;
    background-image: url('/img/Walk\ \(1\).png');
    transform: rotateY(180deg);
}

.obj {
    width: fit-content;
    height: 150px;
    background-size:cover;
    background-repeat: no-repeat;
    bottom: 80px;    
    background-image: url('/img/Objects-1/Bush\ \(1\).png');
}

.fireBall {
   
    background-size: cover;
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-image: url('/img/fireball.gif');
    transform: rotateY(180deg);
    border-radius: 50%;
}

.egg {
    /* background-size: cover; */
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/img/egg.png');
}

.fylDragon {
    background-size: cover;
    background-image: url('/img/dragon-2.gif');
    transform: rotateY(180deg) ;
    border-radius: 50%;
}


#pgb-container {
    width: 80vw;
    height: 20px;
    background-color: lightgrey;
    /*margin: 10px 0;*/
    border-radius: 10px;
}

#pgb {
    width: 5%;
    height: 100%;
    background-color: dodgerblue;
    overflow: hidden;
}

#game-over-container {
    position: relative;
    top: 10%;
    visibility: hidden;
    z-index: 99999;
}

#gameOverImg {
    /*background-image: url('../img/game-over-final.png');*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 700px;
    height: 400px;
    background-color: rgba(129, 123, 123, 0.56);
    background-image: url('../img/game_over.png');
    z-index: 99999;
}

#restart {
    /*font-size: 1.5rem;*/
    height: fit-content;
    font-weight: bold;
}

.modal {
    /*visibility: hidden;*/
    /*display: flex;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 60%;
    height:fit-content;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.modal-content input{
    background-color: rgb(244, 225, 167);
    width: 100%;
    padding: 12px;
    border: 1px solid #0a0909;
    border-radius: 4px;
    resize: vertical;
}

.modal-content label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

